.*
/*

!.github
!eng
!src
!test

!.gitignore
!.npmignore

!package*.json
!oxlint.config.js
!tsconfig.json

!perry.toml

*.md
!README*.md
!LICENSE.md
!CHANGELOG.md

!Unity
Unity/*
!Unity/unity-yaml-format
